@charset "utf-8";

/* 전체 메인 공통*/
.main_wrap .main_tit{font-size: 2.4rem;font-family: 's-core_dream5_medium';}

/*자소서 메인 공통*/

/*자소서 메인 section01 */
.self_intro_main .main_section01 .main_banner{background: url(../images/main/consult_main_banner_img.png) #ffea00 no-repeat right bottom;position: relative;border-radius: 20px;padding: 60px  70px;max-width: 1400px;height: 400px;position: relative;}
.self_intro_main .main_section01 .under_line{background: url(../images/main/under_line.png) no-repeat bottom left;padding-bottom: 10px;}
.self_intro_main .main_section01 .main_banner:after{content: '';display: block;background: url(../images/main/consult_main_banner_img02.png) no-repeat;width: 253px;height: 273px;position: absolute;left: -117px;top: 20px}


/*자소서 메인 서비스 한줄평 */
.self_intro_main .main_section01 .review {display: flex;}
.self_intro_main .main_section01 .review .main_tit{width: 150px;margin-right: 50px;margin-top: -4px}
.self_intro_main .main_section01 .review .list_wrap{width: calc(100% - 200px);}
.self_intro_main .main_section01 .review .list_area .list_txt {float: left;width:calc(100% - 400px)}
.self_intro_main .main_section01 .list_area .reviewer_area{float: right;}
.self_intro_main .main_section01 .list_area .reviewer_area > *{float: left;margin-left: 20px}

/* 리뷰 별점 영역*/
.reviewer_area > .item{color: #666;}
.reviewer_area > .star_area{background: url(../images/main/star_bg.png) no-repeat;width: 115px;height: 20px;position: relative;}
.reviewer_area > .star_area .value{background: url(../images/main/star_area.png) no-repeat;height: 100%;position: absolute;left: 0;top: 0;}
.reviewer_area > .star_area em {text-indent: -99999px;display: inline-block;}

/* 자소서 메인 .main_section02 */
.self_intro_main .main_section02{background: #ebf8ff;}
.self_intro_main .main_section02 .consult_result{padding: 80px 0;display: flex;flex: 1;width: calc(100% - 260px);float: right}
.self_intro_main .main_section02 .consult_result > div {position: relative;padding: 0 30px;text-align: center;flex: 1}
.self_intro_main .main_section02 .consult_result > div:after{content: '';display: block;width: 1px;height: 80%;background: #c7cee1;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.self_intro_main .main_section02 .consult_result > div:last-child:after{display: none}
.self_intro_main .main_section02 .consult_result strong {font-size: 8.0rem;color: #004897;display: block;margin-bottom: 10px}

.self_intro_main .main_section02 .star_bg {background: url(../images/main/star.png) no-repeat center;display: block;}
.self_intro_main .main_section02 .consult_pass{background: #004897;;position: relative}
.self_intro_main .main_section02 .consult_pass .inner{position: relative; }
.self_intro_main .main_section02 .consult_pass .inner:before{content: '';display: block;background: url(../images/main/consult_main_section02.png) no-repeat;width: 308px;height: 410px;position: absolute;bottom: 0;left: 0;}
.self_intro_main .main_section02 .consult_pass_txt{text-align: center;padding:30px}
.self_intro_main .main_section02 .consult_pass_txt p{color: #fff;font-size: 2.4rem;display: inline-block;}
.self_intro_main .main_section02 .consult_pass_txt i{background: url(../images/main/consult_pass.png) no-repeat;width: 66px;height: 77px;display: inline-block;vertical-align: middle;margin-right: 20px}
.self_intro_main .main_section02 .link{background: #ffea00;display: block;width: 30%;max-width: 500px;padding: 30px 15px 30px 45px; position: absolute;right: 0;bottom: 0;border-radius: 20px 0 0;color: #07366a;font-size: 1.8rem;}
.self_intro_main .main_section02 .link:hover .arrow,
.self_intro_main .main_section02 .link:active .arrow,
.self_intro_main .main_section02 .link:focus .arrow {margin-left: 20px;transition: all 0.5s}

/* 컨설팅 진행방법 */
.self_intro_main .main_section03{}
.self_intro_main .main_section03 .consult_step{display: flex;flex-wrap: wrap}
.self_intro_main .main_section03 .consult_step  > div {position: relative;width: calc(25% - 60px);margin-right: 80px;}
.self_intro_main .main_section03 .consult_step  > div:last-child{margin-right: 0}
.self_intro_main .main_section03 .consult_step .arrow{background: url(../images/common/step_arrow.png) no-repeat center ;width: 24px;height: 212px;text-indent: -9999px;position: absolute;right:calc(-35px - 24px);bottom: 0;}

.self_intro_main .main_section03 .consult_step .num{font-size: 4.0rem;position: relative;font-weight: bold;display: inline-block;}
.self_intro_main .main_section03 .consult_step .num:before{content: '';display: block;width:20px;height: 20px;background: #ffea00;border-radius: 50%;position: absolute;right: 0;top: 0; z-index: -1}
.self_intro_main .main_section03 .consult_step .step_tit{font-size: 2.0rem;}
.self_intro_main .main_section03 .consult_step .round_img{margin-top: 30px;height: 207px}
.consult_history{position: relative;overflow: hidden;}
.consult_history_disabled{background: rgba(241, 243, 253, 0.87);position: absolute;width: 100%;height: 100%;top: 0;left: 0;;z-index: 555;padding: 30px;}
.consult_history_disabled > div {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.self_intro_main .main_section03  .popup,
.ai_main .main_section01  .popup{position: absolute;z-index: 999;left: 50%;top: 50%;transform: translate(-50%,-50%);width:420px;z-index: 999}

/*자소서 컨설팅 내역*/
.self_intro_main .main_section03 .consult_history {padding:40px 0;border-radius: 20px;overflow: hidden}
.self_intro_main .main_section03 .consult_history_area{float: right;width:1000px;position: relative;padding: 50px 0}
.self_intro_main .main_section03 .consult_history .main_tit{width: 250px;float: left}
.self_intro_main .main_section03 .consult_history_area > div{position: absolute;text-align: center}
.self_intro_main .main_section03 .consult_history_area:before{content: '';display: block; background: url(../images/main/ing_bg.png) ;width: 806px;height: 5px;position: absolute;left: 50%;top: 0; transform: translate(-50%,0)}
.self_intro_main .main_section03 .consult_history_area p {font-size: 1.8rem;text-align: center;}
.self_intro_main .main_section03  em{display: inline-block;}
.self_intro_main .main_section03 .ico{width:30px;height: 30px;border-radius: 50%;border: 5px solid #adb1c9;top: -50px;margin-bottom: 50px;background: #fff}
.self_intro_main .main_section03 .ico_ing{background: url(../images/main/complete_ico.png) no-repeat #fff center;;width: 107px;height: 66px;margin-bottom: 30px}
.self_intro_main .main_section03 .consult_history_area > div:nth-child(1) {left: 0px;top: -10px;}
.self_intro_main .main_section03 .consult_history_area > div:nth-child(2) {left: 50%;transform: translateX(-50%); top: -30px}
.self_intro_main .main_section03 .consult_history_area > div:nth-child(3) {right: 0px;top:-10px}

/*자소서 컨설팅 현황*/
.filter_wrap {display: flex;align-items: center;flex-wrap: wrap}
.filter_wrap .ft_tit{display: flex;align-items: center;margin-right: 30px;width: 100px;}
.filter_wrap .ft_tit span{background:#ff1b66;color: #fff;display: block;width: 32px;height: 32px;text-align: center;line-height: 32px;border-radius: 50%;font-size: 1.8rem;margin-right: 10px;}
.ft_tit p{color: #ff1b66;font-weight: bold;font-size: 1.8rem;}
.main_wrap .ft_list{width: calc(100% - 130px)}
.filter_wrap ul{display: flex;flex-wrap: wrap;}
.filter_wrap ul li{margin:5px}
.filter_wrap ul li a{display: block;color: #666;font-size: 1.6rem;padding: 5px 25px;width: 100%;height: 100%;background: #f6f7fc;border: 1px solid #f6f7fc;border-radius: 20px;}
.filter_wrap ul li a:hover{background: #fff;color: #ff1b66;border: 1px solid #ff1b66;box-sizing: border-box;font-weight: bold}
.filter_wrap ul li a.on{background: #fff;color: #ff1b66;border: 1px solid #ff1b66;box-sizing: border-box;font-weight: bold}


/* 자소서 자기소개서 별책부록*/
.self_intro_main .main_section05{background: #ebeeff;}
.self_intro_main .main_section05 .ico_tab{}
.self_intro_main .main_section05 .ico_tab li .ico01{background: url(../images/main/consult_ico01.png) no-repeat center #adb1c9;}
.self_intro_main .main_section05 .ico_tab li.active .ico01{background: url(../images/main/consult_ico01.png) no-repeat center #ff1b66;}
.self_intro_main .main_section05 .ico_tab li.active {color: #ff1b66}
.self_intro_main .main_section05 .ico_tab li .ico02{background: url(../images/main/consult_ico02.png) no-repeat center #adb1c9;}
.self_intro_main .main_section05 .ico_tab li.active .ico02{background: url(../images/main/consult_ico02.png) no-repeat center #ff1b66;}

.icon_tab_container .ico_tab li{float: left;margin-right: 30px;}
.icon_tab_container .ico_tab li a{font-size: 1.8rem;font-weight: bold;color: #adb1c9}
.icon_tab_container .ico_tab li span{display: block;width: 32px;height: 32px;;border-radius: 50%;margin-right: 5px;display: inline-block;vertical-align: middle}
.icon_tab_container .ico_tab  li.active a{color: #ff1b66}

.self_intro_main .main_section05 .tab_content{margin-top: 30px;}
.self_intro_main .main_section05 #tab2.tab_content .gray_border{padding: 29px 30px}
.self_intro_main .main_section05 .js_wrap{display: flex;}
.self_intro_main .main_section05 .job_select{width: 300px}
.self_intro_main .main_section05  .job_select .bar_list li.active{font-size: 1.8rem;font-weight: bold !important;padding-left: 0;}
.self_intro_main .main_section05  .job_select .bar_list li a:hover{font-weight: bold}
.self_intro_main .main_section05  .job_select .bar_list li.active a {color: #333}
.self_intro_main .main_section05  .job_select li.active:before{display: none;}
.self_intro_main .main_section05 .js_wrap .scrollbar{height: 240px;}
.job_aricle .blue_bg_text{margin-right: 10px}

/* 메인 공통 하단*/
.self_intro_main .main_section05 .job_aricle {width:calc(100% - 350px );margin-left: 50px;display: flex;}
.self_intro_main .main_section05  .job_aricle > div {flex: 1;margin-right: 40px;position: relative;overflow: hidden;min-height: 200px}
.job_aricle > div{position: relative;overflow: hidden}
.job_aricle > div > a{display: block;width: 100%;height: 100%;}
.job_aricle > div:last-child{margin-right: 0 !important}
.job_aricle .tit{font-size: 1.8rem;font-weight: bold;}
.job_aricle .middle{border-bottom: 1px dashed #c7cee1;margin:16px 0;padding-bottom: 20px}
.job_aricle .tag{color: #666;}
.job_aricle li{margin-bottom: 5px}
.job_aricle li:last-child{margin-bottom: 0}
.job_aricle > div .hover{display: none;opacity: 0;width: 100%;height: 100%;background: rgba(0, 72, 151, 0.9);position: absolute;left: 0;top: 0;color: #fff;text-align: center;position: absolute;}
.job_aricle > div .hover p {position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);}
.job_aricle .hover span{font-size: 5.0rem;display: block;}
.job_aricle > div a:hover .hover {display: block;opacity: 1}
.job_aricle .guide_list li{margin-bottom: 5px;color: #666;font-size: 1.4rem}
.job_aricle.job_aricle-two .middle {margin-top: 0}



/* AI 면접 메인 시작*/
.ai_main .main_section01{}
.ai_main .main_section01 .banner{background: url(../images/main/ai_main_banner_bg.png) no-repeat left center #bae6ff;border-radius: 10px;;position: relative;z-index: 1;}
.ai_main .main_section01 .banner:before{content: '';display: block;background: url(../images/main/ai_main_banner.png) no-repeat;width: 517px;height: 356px;position: absolute;left: 60px;bottom: 0;}
.ai_main .main_section01 .txt{float: right;position: relative;z-index: 2;padding-right: 5.0rem}

/*AI 면접 서비스 이용방법*/
.ai_main  .main_section02 .consult_step{display: flex;justify-content: space-around}
.ai_main  .main_section02 .consult_step  .txt {position: relative;}
.ai_main  .main_section02 .consult_step  > div{}
.ai_main  .main_section02 .consult_step  > div:last-child{margin-right: 0}
.ai_main .main_section02 .consult_step .arrow{background: url(../images/common/step_arrow.png) no-repeat center ;width: 24px;height:48px; ;text-indent: -9999px;margin-top: 80px}


.ai_main .main_section02 .consult_step .num{font-size: 4.0rem;position: relative;font-weight: bold;display: inline-block;}
.ai_main .main_section02 .consult_step .num:before{content: '';display: block;width:20px;height: 20px;background: #bae6ff;border-radius: 50%;position: absolute;right: 0;top: 0; z-index: -1}
.ai_main .main_section02  .consult_step .step_tit{font-size: 2.0rem;}

/*AI면접 분석리포트*/
.ai_main .main_section03 {background: #ffd2eb;}
.ai_main .main_section03 .inner:before{content: '';display: block;background: url(../images/main/ai_main_img01.png) no-repeat;width: 488px;height: 326px;position: absolute;right: 30px;top: -165px;z-index: 1}
.ai_main .main_section03 .white_round{position: relative;z-index: 2}
.ai_main .main_section03 .ai_report_area01,
.ai_main .main_section03 .ai_report_area02{display: flex;}
.ai_main .main_section03 .ai_report_area01 .img{margin-right: 50px}
.ai_main .main_section03 .ai_report_area01 .txt{width: calc(100% - 318px)}
.ai_main .main_section03 dl{margin-bottom:3.0rem;padding-bottom: 3.0rem;border-bottom: 1px dotted #c7cee1;width: 100%;}
.ai_main .main_section03 dl:last-child{border-bottom: 0}
.ai_main .main_section03 dl dt{font-weight: bold;font-size: 1.8rem;margin-bottom: 10px;display: flex;align-items: center;}
.ai_main .main_section03 dl dd{font-size: 1.6rem;color: #666;}
.ai_main .main_section03 dl span{display:block;width: 30px;height: 30px;margin-right: 10px}
.ai_main .main_section03 dl .ai_ico01{background: url(../images/main/ai_main_ico01.png) no-repeat center;}
.ai_main .main_section03 dl .ai_ico02{background: url(../images/main/ai_main_ico02.png) no-repeat center;}
.ai_main .main_section03 dl .ai_ico03{background: url(../images/main/ai_main_ico03.png) no-repeat center;}
.ai_main .main_section03 dl .ai_ico04{background: url(../images/main/ai_main_ico04.png) no-repeat center;}
.ai_main .main_section03 .ai_report_area02{align-items: flex-end}
.ai_main .main_section03 .ai_report_area02 .img{margin-left: 20px;margin-bottom: -6px}


/* AI 면접 대비 강의*/
.ai_main .main_section05 {overflow: hidden;position: relative}
.ai_main .main_section05 .inner{overflow: visible !important;display: flex}
.ai_main .main_section05 .inner:after{content: '';display: block;clear: both}

.ai_main .main_section05 .left{width:224px;position: relative;}
.ai_main .main_section05 .right{width: calc(100% - 224px)}
.ai_main .main_section05 .ai_slider_wrap{width: calc(100% +  ((100vw - 1420px) / 2));margin-left: auto;}
 

.ai_main .main_section05 .ai_slider{}
.ai_main .main_section05 a:hover .hover,
.ai_main .main_section05 a:active .hover,
.ai_main .main_section05 a:focus .hover{visibility: visible;opacity: 1}
.ai_main .main_section05 .img_border{position: relative}
.ai_main .main_section05 .hover{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);visibility:hidden;opacity: 0; transition: visibility 0s, opacity 0.2s linear;}
.ai_main .main_section05 .hover .txt{position: absolute;top: 50%;left: 50%;color: #fff;transform: translate(-50%,-50%)}
.ai_main .main_section05 .hover .txt > span{display:block;background: url(../images/main/video_start.png) no-repeat;width: 34px;height: 45px !important;margin: auto;margin-bottom: 30px}

.ai_main .main_section05 .controls_inner{position: absolute;bottom: 0;width: 95px}
.controls button{border: 1px solid #004897;width: 40px;height: 40px;border-radius: 50%;font-size: 20px;font-weight: bold;color: #004897;}
.controls button:hover,
.controls button:active,
.controls button:focus {background: #004897;color: #fff;}

.controls button:first-child{margin-right: 7px}
.ai_main ul.main-news__items-wrapp li{width: 340px}
.ai_main ul.main-news__items-wrapp li:first-child{margin-left: 0 !important;}
.ai_main ul.main-news__items-wrapp .scrollbar_inner{width: 1400px}


/* AI 모의면접 별책부록*/
.ai_main .main_section06 {background: #daeeff;}
.org_tab .active a{color: #ff4e4a}
.ai_main .main_section06 .ico01{background: url(../images/main/ai_main_ico05.png) no-repeat #adb1c9 center;}
.ai_main .main_section06 .ico02{background: url(../images/main/ai_main_ico06.png) no-repeat #adb1c9 center;}
.ai_main .main_section06 .active .ico01{background: url(../images/main/ai_main_ico05.png) no-repeat #ff4e4a center;}
.ai_main .main_section06 .active .ico02{background: url(../images/main/ai_main_ico06.png) no-repeat #ff4e4a center;}
.ai_main .main_section06 .flex_four .job_aricle{display: flex;}
.ai_main .main_section06 .flex_four .job_aricle > div{flex: 1;margin-right: 40px;min-height: 230px}
.ai_main .main_section06 .flex_four .job_aricle > div:last-child{margin-right: 0}


/* 온라인 채용박람회 시작*/
.online_main .main_section01{width: 100%}
.online_main .main_section01 img{width: 100%;}

/* 온라인 잡페어 참가방법*/
.online_main .main_section02 .tabs{display: flex;}
.online_main .main_section02 .tabs .main_tit{margin-right: 5.0rem}
.online_main .icon_tab_container .ico_tab li.active {color: #ff00e4}
.online_main .main_section02 .tabs .ico01{background: url(../images/main/online_ico.png) no-repeat center #b3b3b3; }
.online_main .ico_tab li.active .ico01{background: url(../images/main/online_ico.png) no-repeat center #ff00e4; }
.online_main .main_section02 .tabs .ico02{background: url(../images/main/online_ico02.png) no-repeat center #b3b3b3; }
.online_main .ico_tab li.active .ico02{background: url(../images/main/online_ico02.png) no-repeat center #ff00e4; }

.online_main .main_section02 .consult_step{display: flex;justify-content: space-around}
.online_main  .main_section02 .consult_step  .txt {position: relative;}
.online_main  .main_section02 .consult_step  > div{}
.online_main  .main_section02 .consult_step  > div:last-child{margin-right: 0}
.online_main .main_section02 .consult_step .arrow{background: url(../images/common/step_arrow.png) no-repeat center ;width: 24px;height:48px; ;text-indent: -9999px;margin-top: 80px}


.online_main .main_section02 .consult_step .num{font-size: 4.0rem;position: relative;font-weight: bold;display: inline-block;}
.online_main .main_section02 .consult_step .num:before{content: '';display: block;width:20px;height: 20px;background: #fffd70;border-radius: 50%;position: absolute;right: 0;top: 0; z-index: -1}
.online_main .main_section02  .consult_step .step_tit{font-size: 2.0rem;}

/* 참여기업 */
.online_main .main_section03 {background: #f3f3f3;position: relative;}
.online_main .main_section03 ul{}
.online_main .main_section03 .handle {text-indent: -9999px;display: inline-block;width: auto}
.online_main .main_section03 li {padding-right: 2.0rem;text-align: center;margin-top: 2.0rem}
.online_main .main_section03 li:nth-child(4n){padding-right: 0}
.online_main .main_section03 .logo {background: #fff;text-align: center;margin-bottom: 1.5rem;height: 122px;position: relative;border: 1px solid #c7cee1;border-radius: 15px}
.online_main .main_section03 .logo img {width:inherit;display:block;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);max-width: 100%}
.online_main .controls{position: absolute;right: 15px;top: -35px;}


/* 채용관*/
.filter_wrap_pink02{}
.filter_wrap_pink02.filter_wrap{align-items:baseline !important}
.filter_wrap_pink02 .ft_tit{}
.filter_wrap_pink02 .ft_tit span{background: #ff00e4}
.filter_wrap_pink02 .ft_tit p{color: #ff00e4}
.filter_wrap_pink02.filter_wrap ul li a.on{border: 1px solid #ff00e4;color: #ff00e4}

.online_main .main_section04 .hire_list{display: flex;flex-wrap: wrap}
.online_main .main_section04 .hire_list > div{width: calc(33% - 15px);margin-right: 20px;position: relative;margin-top: 20px}
.online_main .main_section04 .hire_list > div:nth-child(3n){margin-right: 0}
.online_main .main_section04 .hire_list .img{border: 1px solid #c7cee1;overflow: hidden;border-radius: 8px;width: 100%;height: 220px;margin: 2.0rem 0 1.5rem 0} 
.online_main .main_section04 .hire_list .top p{font-size: 1.6rem }
.online_main .main_section04 .hire_list .bottom {padding-bottom: 50px}
.online_main .main_section04 .hire_list .bottom .tit {font-size: 1.8rem;font-weight: bold;margin-bottom: 1.5rem;padding-bottom: 1.5rem;border-bottom: 1px dotted #c7cee1}
.online_main .main_section04 .hire_list .bottom .txt{color: #666;font-size: 1.4rem}
.online_main .main_section04 .hire_list .btn_wrap {position: absolute;right: 3.0rem;bottom: 3.0rem}

/* 추천 서비스 */
.online_main .main_section05{background: #c0e7ff;}
.online_main .main_section05 .service_list{display: flex;margin-top: 5.0rem}
.online_main .main_section05 .service_list > div{;width: calc(25% - 22.5px);margin-right: 40px}
.online_main .main_section05 .service_list  a{text-align: center;display: block;width: 100%;height: 100%;}
.online_main .main_section05 .service_list  p{display: inline-block;position: relative;z-index: 333}
.online_main .main_section05 .service_list > div:last-child{margin-right: 0}
.online_main .main_section05 .service_list .img{display: block;background: #000;border-radius: 20px;position: relative;height: 200px;margin-bottom: 1.5rem;}
.online_main .main_section05 .service_list img{position: absolute;bottom: 0;left: 50%;transform: translate(-50%,0)}
.online_main .main_section05 .service_list > div:hover .img,
.online_main .main_section05 .service_list > div:active .img,
.online_main .main_section05 .service_list > div:focus .img{box-shadow: 0px 0px 10px 5px rgba(199, 206, 225, 0.77)}
.online_main .main_section05 .service_list > div:hover p,
.online_main .main_section05 .service_list > div:active p,
.online_main .main_section05 .service_list > div:focus p {text-decoration: underline}

/*
.online_main .main_section05 .service_list > div:nth-child(1) p:after{content: '';display: block;height: 10px;background: #ffea00;position: absolute;bottom: 0;z-index: -1;}
.online_main .main_section05 .service_list > div:nth-child(2) p:after{content: '';display: block;height: 10px;background: #ff88a4;position: absolute;bottom: 0;z-index: -1;}
.online_main .main_section05 .service_list > div:nth-child(3) p:after{content: '';display: block;height: 10px;background: #ff8a51;position: absolute;bottom: 0;z-index: -1;}
.online_main .main_section05 .service_list > div:nth-child(4) p:after{content: '';display: block;height: 10px;background: #0197d6;position: absolute;bottom: 0;z-index: -1;}
.online_main .main_section05 .service_list > div:hover p:after{width: 100%}
*/
.online_main .main_section05 .service_list div:nth-child(1) .img{background: #ffea00}
.online_main .main_section05 .service_list div:nth-child(2) .img{background: #ff88a4}
.online_main .main_section05 .service_list div:nth-child(3) .img{background: #ff8a51}
.online_main .main_section05 .service_list div:nth-child(4) .img{background: url(../images/main/online_main_img05_bg.png) no-repeat center left #0197d6}

/* 나의 지원현황 */
.online_main .real_time_ico{display: inline-block;border-radius: 50%;width: 32px;height: 32px;background: url(../images/main/play_ico.png) no-repeat #f21c1c center;margin-right: 1.0rem}
.online_main .recording_ico{display: inline-block;border-radius: 50%;width: 32px;height: 32px;background: url(../images/main/video_ico.png) no-repeat #004897 center;margin-right: 1.0rem}
.interview_type > .ico_area{display: flex;align-items: center}
.print_wrap{display: flex;align-items: center;color: #f505dc;font-weight: bold;font-size: 1.8rem}
.online_main .print_ico{display: inline-block;width: 32px;height: 32px;background: url(../images/main/print_ico.png) no-repeat center #f505dc;border-radius: 50%;margin-right: 1.0rem}

.online_main .resume_ico{display: inline-block;width: 32px;height: 32px;background: url(../images/main/online_ico03.png) no-repeat center #f505dc;border-radius: 50%;margin-right: 1.0rem}

.mng_list{display: flex;}
.mng_list li{position: relative;margin-right: 15px;padding-right: 15px}
.mng_list li:last-child{margin-right: 0;padding-right: 0}
.mng_list li:last-child:after{display: none}
.mng_list li:after{content: '';display: block;position: absolute;right: 0;top: 50%;transform: translateY(-50%); width: 1px;height: 10px;background: #adb1c9}

.online_main .main_section07 .mng_list{justify-content: center}

/* 취업활동 증명서 */
.cert_print .top{}
.cert_print .top > div {}
.cert_print .top  .left p{line-height: 40px}
.cert_print  .print_inner{background: url(../images/common/print_bg.png) no-repeat bottom 130px center;}
.cert_print .middle {margin-bottom: 4.0rem}
.cert_print .middle .f40{margin: 3.0rem 0}
.cert_print .txt{text-align: center;background: rgba(228, 241, 255, 0.5);margin-top: 3.0rem;border-radius: 10px;padding: 30px;line-height: 1.8;font-size: 1.6rem}
.cert_print .bottom  .trt{margin-top: 40px;padding-bottom: 30px}
.cert_print .bottom  .inline_list li{display: inline-block;vertical-align: middle}
.cert_print .bottom  .inline_list li:first-child{margin-top: 30px;}




/* -------------------------- 반응형 start ------------------------*/


@media all and (max-width:1400px){

/*  자소서 start  */
    .self_intro_main .main_section01 .main_banner:after{display: none;}    
    .self_intro_main .main_section01 .main_banner{background-size: 650px}
    .self_intro_main .main_section02 .consult_result strong{font-size: 5.5rem}
    .self_intro_main .main_section02 .consult_pass .inner:before{background-size: 250px;width: 250px;height: 330px}
    .self_intro_main .main_section02 .consult_result{width: calc(100% - 250px)}
    .self_intro_main .main_section02 .consult_pass_txt i{width: 45px;background-size: 45px;height: 53px}
    .self_intro_main .main_section02 .star_bg {background-size: 80px}
    .self_intro_main .main_section02 .consult_pass_txt p{font-size: 2.2rem;padding-bottom: 80px}
    .self_intro_main .main_section02 .link{padding: 20px 35px}
    
    .self_intro_main .main_section03 .consult_history .main_tit{float: none;width: 100%;}
    .self_intro_main .main_section03 .consult_history_area{width:100%;float: none;margin-top: 5.0rem;padding-bottom: 5.0rem}
    .self_intro_main .main_section03 .consult_history_area:before{width: 85%;left: 50%;transform: translateX(-50%)}
    
    .self_intro_main  .main_section04 .table_style{table-layout:fixed;}
    .self_intro_main  .main_section04 .table_style td {padding: 15px 5px}
    .self_intro_main  .reviewer_area > .star_area{width: 80px;background-size: 80px;}
    .self_intro_main  .reviewer_area > .star_area .value{width: 80px;background-size: 80px}
    .self_intro_main .main_section03 .consult_step .gray02 {font-size: 1.5rem}
    
    /*  자소서 start  */
    .self_intro_main .main_section05 .job_select {width: 220px}
    .self_intro_main .main_section05 .job_aricle{margin-left: 30px;width: calc(100% - 250px)}
    .self_intro_main .main_section05 .job_aricle > div{margin-right: 20px;}
    
    .self_intro_main .main_section03 .consult_step .gray02{height: 2.4rem;}
    
    .self_intro_main .main_section03 .consult_step > div{margin-right: 50px;width:calc(25% - 38.999px)}
    .self_intro_main .main_section03 .consult_step .arrow{background-size: 12px;width: 12px;right: calc(-20px - 12px);}
    
    /* AI 면접 메인 시작*/
    .ai_main .main_section01{}
    .ai_main .main_section01 .banner{background-size: contain;padding: 4.0rem 0}
    .ai_main .main_section01 .banner:before{width: 400px;background-size: 400px;height: 270px}
    .ai_main .main_section01 .txt{float: right;padding-right: 2.0rem;width: calc(100% - 500px);word-break: keep-all}
    
    
    /* Ai 면접 서비스 이용방법*/
    .ai_main .main_section02 .consult_step{flex-wrap: wrap}
    .ai_main .main_section02 .consult_step .arrow{width: 12px;background-size: 12px;height: 24px;margin-top: 90px}
    .ai_main .main_section02 .consult_step > div:not(.arrow) {width: calc(20% - 60px);text-align: }
    .ai_main .main_section02 .consult_step .txt{word-break: keep-all}
    .ai_main .main_section02 .consult_step{}
    .ai_main .main_section03 .inner:before{background-size:350px;height: 240px;width:350px;top: -74px;right:20px; }
    
   /* 면접 대비 강의*/
    /* AI 면접 */
    .ai_main .main_section05 .ai_slider_wrap{position: static;width: 100%}
    
    /* 별책부록 */
    .ai_main .main_section06 .flex_four .job_aricle > div{margin-right: 20px}

    /* 온라인채용박람회 시작 */
    /*추천 서비스*/
    .online_main .main_section05 .service_list .img{height:200px}
    .online_main .main_section05 .service_list img{width: 95%;}
    .online_main .main_section05 .service_list > div{margin-right: 2.0rem;width: calc(25% - 15px)}
  
    


@media all and (max-width:1024px){
    
    /*  자소서 start  */
    .self_intro_main .main_section01 .review{display: block;}
    .self_intro_main .main_section01 .review .list_wrap{width: 100%;margin-top: 2.0rem}
    .self_intro_main .main_section01 .review .list_area .list_txt{width: calc(100% - 250px)}
    
    .self_intro_main .main_section03  .popup,
    .ai_main .main_section01 .popup{max-width: 420px;width: 90%;}
    
    /*  자기소개서 컨설팅 현황  */
    .self_intro_main .main_section03 .consult_step > div{margin-right: 50px;width:calc(50% - 38.999px);margin-bottom: 4.0rem}
    .self_intro_main .main_section03 .consult_step > div:nth-child(2n){margin-right: 0;}
    .self_intro_main .main_section03 .consult_step .arrow{background-size: 12px;width: 12px;right: calc(-20px - 12px);}
    .self_intro_main .main_section03 .consult_step > div:nth-child(3),
    .self_intro_main .main_section03 .consult_step > div:nth-child(4){margin-bottom: 0}
    
    .self_intro_main .main_section05 .js_wrap{display: block;}
    .self_intro_main .main_section05 .js_wrap .scrollbar{height: 140px;width: 100%;}
    .self_intro_main .main_section05 .job_select{width: 100%;margin-bottom: 20px;}
    .self_intro_main .main_section05 .job_aricle{width: 100%;margin-left: 0;padding-top: 20px;border-top: 1px dotted #ccc;}
    .self_intro_main .main_section05 .job_aricle > div{margin-bottom: 20px}
    
    .self_intro_main .main_section02 .consult_pass_txt{text-align: right;}
    .self_intro_main .main_section02 .link{right: 0px;transform: none;}
    .self_intro_main .main_section02 .star_bg {background-size: 65px}
    
    
     /* AI 면접 메인 시작*/
    .ai_main .main_section01{}
    .ai_main .main_section01 .banner{padding: 3.0rem 0}
    .ai_main .main_section01 .banner:before{width: 250px;background-size: 250px;height: 170px;left: 20px;bottom: 50%;transform: translateY(50%)}
    .ai_main .main_section01 .txt{padding-right: 2.0rem;width: calc(100% - 300px);}
    
     /* Ai 면접 서비스 이용방법*/
    .ai_main .main_section02 .consult_step{}
    .ai_main .main_section02 .consult_step .arrow{width: 12px;background-size: 12px;height: 24px;margin-top: 90px}
    .ai_main .main_section02 .consult_step > div:not(.arrow) {width: calc(33.33% - 60px);text-align: center;margin-bottom:3.0rem}
    .ai_main .main_section02 .consult_step > div:nth-child(7),
    .ai_main .main_section02 .consult_step > div:nth-child(9){margin-bottom: 0}
    .ai_main .main_section03 .inner:before{background-size:280px;height: 190px;width:280px;top: -43px;right:20px; }
    
     /*AI면접 분석리포트*/
    .ai_main .main_section03 .ai_report_area01 .img{margin-right: 30px;width: 250px;}
    .ai_main .main_section03 .ai_report_area01 .txt{width: calc(100% - 280px)}
    .ai_main .main_section03 .ai_report_area02 .img {}
    .ai_main .main_section03 .ai_report_area02 .img img {max-width: 638px;width:100%;display: block;margin: auto;}
    
    
    /* AI 면접 */
    .ai_main .main_section05 .left {width: 180px}
    .ai_main .main_section05 .right{width: calc(100% - 180px)}
    
    
    /* AI 모의면접 별책부록*/
    .ai_main .main_section06 .flex_four .job_aricle{flex-wrap: wrap}
    .ai_main .main_section06 .flex_four .job_aricle > div{width: calc(50% - 10px);flex:initial;margin-bottom: 20px}
    .ai_main .main_section06 .flex_four .job_aricle > div:nth-child(2n){margin-right: 0}
    .ai_main .main_section06 .flex_four .job_aricle > div:nth-child(3),
    .ai_main .main_section06 .flex_four .job_aricle > div:nth-child(4){margin-bottom: 0}
    
    /* 온라인채용박람회 시작 */
    /*추천 서비스*/
    .online_main .main_section05 .service_list .img{}
    .online_main .main_section05 .service_list img{width: auto;max-width: 100%;}
    .online_main .main_section05 .service_list {margin-top: 1.0rem}
    .online_main .main_section05 .service_list{flex-wrap: wrap}
    .online_main .main_section05 .service_list > div{width: calc(50% - 10px);margin-top: 3.0rem}
    .online_main .main_section05 .service_list > div:nth-child(2n){margin-right: 0}
    
    /*온라인 잡페어 참가방법*/
    .online_main .main_section02 .consult_step{flex-wrap: wrap;justify-content: flex-start}
    .online_main .main_section02 .consult_step > div{position: relative}
    .online_main .main_section02 .consult_step > div{width: 33%;text-align: center;margin-top: 3.0rem}
    .online_main .main_section02 .consult_step > div:nth-child(1),
    .online_main .main_section02 .consult_step > div:nth-child(3),
    .online_main .main_section02 .consult_step > div:nth-child(5) {margin-top: 0;}
    .online_main .main_section02 .consult_step > div:after{content: '';display: block;background: url(../images/common/step_arrow.png) no-repeat center;width: 24px;height: 48px;position: absolute;right: 0;top: 50%;transform: translateY(-50%)}
    .online_main .main_section02 .consult_step > div:last-child:after{display: none}
    .online_main .main_section02 .consult_step .arrow{display: none}
    
    /* 채용관리 */
    .filter_wrap_pink02.filter_wrap{display: block;}
    .filter_wrap_pink02 .ft_tit{margin-bottom: 1.5rem}
    .filter_wrap_pink02 .ft_list{width: 100%;}
    .online_main .main_section04 .hire_list > div{width: calc(50% - 10px)}
    .online_main .main_section04 .hire_list > div:nth-child(3n){margin-right: 20px}
    .online_main .main_section04 .hire_list > div:nth-child(2n){margin-right: 0}
    
    }

@media all and (max-width:768px){
    /*  자소서 start  */
    .self_intro_main .main_section02 .consult_pass .inner:before {width:130px;height: 170px;background-size: 130px;bottom:0}
    .self_intro_main .main_section02 .consult_result{width: 100%}
    .self_intro_main .main_section02 .consult_pass_txt p{padding-bottom: 60px}
    .self_intro_main .main_section02 .link{padding: 15px 25px;}
    
    .self_intro_main .main_section03 .consult_step .num{font-size: 3.0rem}
    
    .self_intro_main .main_section04 .filter_wrap{display: block;}
    .self_intro_main .main_section04 .ft_tit{margin-bottom: 20px}
    
    .self_intro_main .main_section05 .job_aricle{display: block;}
    .self_intro_main .main_section05 .job_aricle > div{width: 100%;flex:none}
    
    
    /* AI 면접 메인 시작*/
    /* Ai 면접 서비스 이용방법*/
    .ai_main .main_section02 .consult_step{}
    .ai_main .main_section02 .consult_step > div:not(.arrow) {width: calc(50% - 60px);}
    .ai_main .main_section02 .consult_step > div:nth-child(7){margin-bottom: 3.0rem}
    .ai_main .main_section03 .inner:before{background-size:150px;height: 100px;width:150px;top: 13px;right:20px; }
    
    
    /* AI 면접 */
    .ai_main .main_section05 .inner{display: block}
    .ai_main .main_section05 .left {padding-bottom: 2.0rem;width: 100%;padding-top: 2.0rem}
    .ai_main .main_section05 .controls button{width: 32px;height: 32px;font-size: 2.0rem}
    .ai_main .main_section05 .right{width:100%}
    .ai_main ul.main-news__items-wrapp li{width:300px;}
    .frame ul.main-news__items-wrapp li {margin: 0 5px !important}
    .ai_main .main_section05 .controls_inner{position: absolute;right: 0;top: 10px;}
    .ai_main .main_section05 .controls{padding: 0}
    
    /*온라인채용박람회*/
    .controls button{width: 32px;height: 32px;font-size: 1.8rem}
    .controls button:first-child{margin-right: 5px}
    /*나의 지원현황*/
    .online_table {}
    .online_table  td{position: absolute;}
    .online_table .document{left: 0;top: 25px}
    .online_table .document:before{content: '서류전형 : ';display: inline-block}
    .online_table .result{left: 100px;top: 25px}
    .online_table .result:before{content: '최종결과 : ';display: inline-block;font-family: 'core_dream4_regular',sans-serif;}
    .online_table .interview_type{right: 0;bottom: 20px}
    .online_table  .title{width: calc(100% - 150px)}
    .online_table  .title .textCut1{width: 100%}
    .online_table .btn_wrap {text-align: right}
    .online_main .real_time_ico{width: 28px;height: 28px}
    .online_main .main_section07 .mng_list{font-size: 1.6rem}
}

@media all and (max-width:640px){
    .self_intro_main .main_section01{word-break: keep-all}
    .self_intro_main .main_section01 .main_banner{padding: 50px 30px;background-size:contain;background-position: right bottom 0}
    .self_intro_main .main_section01 .main_banner .f30{margin-bottom: 20px}
    .self_intro_main .main_section01 .under_line{background: 0;border-bottom: 3px solid #ff1b66;display: inline;padding-bottom: 0;line-height: 2}
    
    .self_intro_main .main_section01 .list_area .reviewer_area > .date{display: none}
    .self_intro_main .main_section01 .review .list_area .list_txt{width: calc(100% - 150px)}
    
    .self_intro_main .main_section02 .consult_result{flex-wrap: wrap;}
    .self_intro_main .main_section02 .consult_result > div{flex: none;width: 50%;margin-bottom: 30px}
    .self_intro_main .main_section02 .consult_result > div:nth-child(2):after{display: none}
    .self_intro_main .main_section02 .consult_result > div:nth-child(3),
    .self_intro_main .main_section02 .consult_result > div:nth-child(4){margin-bottom: 0}
    
    .self_intro_main .main_section02 .consult_pass .inner:before{display: none;}
    .self_intro_main .main_section02 .consult_pass_txt i{background-size: 30px;width: 30px;height: 35px;display: block;margin: auto;}
    .self_intro_main .main_section02 .consult_pass_txt{text-align: center;}
    .self_intro_main .main_section02 .consult_pass_txt p{margin-top: 2.0rem;font-size: 1.8rem;padding-bottom: 20px}
    .self_intro_main .main_section02 .link{right:0;position: relative;margin: auto;;transform: none;max-width: 200px;width:calc(100% - 40px);font-size: 1.6rem;padding: 10px  20px;border-radius: 8px;bottom: 30px}
    .self_intro_main .main_section02 .link .f24{font-size: 2.0rem}
    .self_intro_main .main_section03 .consult_step{display: block;}
    .self_intro_main .main_section03 .consult_step > div{margin-right: 0;width: 100%;}
    .self_intro_main .main_section03 .consult_step > div:nth-child(3){margin-bottom: 4.0rem}
    .self_intro_main .main_section03 .consult_step .arrow{display: none;}
    
    .self_intro_main .main_section03 .consult_history_area {zoom:0.65}
    .self_intro_main .main_section03 .consult_history_area p{zoom:1.2}
    .self_intro_main .main_section03 .consult_history_area p span {}
    .self_intro_main .main_section03 .consult_history_area p span:before{content: '';display: block;}
    .self_intro_main .main_section04 .ft_list{overflow-x: auto;width: 100%; -ms-overflow-style: none;}
    .self_intro_main .main_section04 .ft_list::-webkit-scrollbar{ display:none; }
    .self_intro_main .main_section04 .filter_wrap ul{display: table;table-layout: fixed;white-space: nowrap;}
    .self_intro_main .main_section04 .filter_wrap ul li{display: table-cell;padding-right: 5px}
    .self_intro_main .main_section04 .filter_wrap ul li:last-child{margin-right: 0;}
    .self_intro_main .main_section04 .filter_wrap ul li a{padding: 5px 10px;}
    
    
    .self_intro_main .main_section05 .ico_tab li{float: none;margin-bottom: 10px}
    .self_intro_main .main_section05 .ico_tab li:last-child{margin-bottom: 0}
    .self_intro_main .main_section05 .ico_tab li a{font-size: 1.6rem}
    .self_intro_main .main_section05 .ico_tab li span{width: 26px;height: 26px;}
    .self_intro_main .main_section05 .ico_tab li .ico01{background-size: 12px !important}
    .self_intro_main .main_section05 .ico_tab li .ico02{background-size: 12px !important}
    .self_intro_main .main_section05 .tab_content{margin-top: 2.0rem}
    
    /* AI 면접 메인 시작*/
    .ai_main .main_section01{}
    .ai_main .main_section01 .banner{background-size: cover}
    .ai_main .main_section01 .banner:before{width: 200px;background-size: 200px;height: 130px;left: 20px;bottom: 0;transform: none;left: 50%;transform: translateX(-50%)}
    .ai_main .main_section01 .txt{padding:0 2.0rem;width: 100%;float: none;margin-bottom: 140px;text-align: center}
    .ai_main .main_section03 .inner:before{display: none}
    
        
     /*AI면접 분석리포트*/
    .ai_main .main_section03 .white_round{overflow: hidden}
    .ai_main .main_section03 .ai_report_area01{display: block}
    .ai_main .main_section03 .ai_report_area01 .img{margin:auto}
    .ai_main .main_section03 .ai_report_area01 .txt{width: 100%;margin-top: 3.0rem}
    
    .ai_main .main_section03 .ai_report_area01 dl:last-child{margin-bottom: 0}
    .ai_main .main_section03 .ai_report_area02 {display: block}
    .ai_main .main_section03 .ai_report_area02 {display: block;border-top: 1px dotted #c7cee1;padding-top: 3.0rem}
    .ai_main .main_section03 .ai_report_area02 .img {margin-bottom: -3.0rem}
    
    
     /* AI 면접 */
    .ai_main .main_section05 .inner{display: block}
    .ai_main .main_section05 .left {padding-bottom: 2.0rem;width: 100%;padding-top: 2.0rem}
    .ai_main .main_section05 .controls button{width: 32px;height: 32px;font-size: 2.0rem}
    .ai_main .main_section05 .right{width:100%}
    .ai_main ul.main-news__items-wrapp li{width:280px;}
    .frame ul.main-news__items-wrapp li {margin: 0 5px !important}
    
    /* 온라인채용박람회 시작 */
    /* 온라인 잡페어 참가방법*/
    .online_main .main_section02 .tabs{display: block}
    .online_main .main_section02 .tabs ul {margin-top: 3.0rem}
    .online_main .main_section02 .border_round.mt_30{margin-top: 1.5rem}
    .online_main .main_section02 .consult_step > div{width: 50%}
    .online_main .main_section02 .consult_step > div:nth-child(5){margin-top: 3.0rem}
    
    /*추천 서비스*/
    .online_main .main_section05 .service_list{margin-top: 3.0rem}
    .online_main .main_section05 .service_list > div{width: 100%;margin-top: 5.0rem}
    
        /* 채용관 */
    .filter_wrap_pink02.filter_wrap{display: block;}
    .filter_wrap_pink02 .ft_list li a{padding: 5px 10px;}
    .online_main .main_section04 .hire_list > div{width:100%;margin-right: 0 !important}
    .online_main .main_section04 .hire_list .bottom{padding-bottom: 3.0rem}
    .online_main .main_section04 .hire_list .btn_wrap{position: static;text-align: center;}
    
    /* 나의 지원현황 */
    .print_wrap{font-size: 1.5rem}
    .online_main .print_ico{width: 28px;height: 28px;background-size: 13px;}
    .online_main .resume_ico{width: 28px;height: 28px;background-size: 15px}
}

@media all and (max-width:480px){
       /* AI 면접 메인 시작*/
    /* Ai 면접 서비스 이용방법*/
    .ai_main .main_section02 .consult_step{display: block;}
    .ai_main .main_section02 .consult_step > div:not(.arrow) {width:100%;margin-bottom: 0}
    .ai_main .main_section02 .consult_step .arrow{margin-top: 0;transform: rotate(90deg);margin: 2.0rem auto;}
    .ai_main .main_section02 .consult_step > div:nth-child(7){margin-bottom: 3.0rem}
    
    
    /* AI 모의면접 별책부록*/
    .ai_main .main_section06 .flex_four .job_aricle > div{width:100%;margin-right: 0;}
    .ai_main .main_section06 .flex_four .job_aricle > div:nth-child(3){margin-bottom: 20px}
    .ai_main .main_section06 .flex_four .job_aricle .textCut2 {height: 2.8rem;-webkit-line-clamp:1;text-overflow:ellipsis}
    
      /* 온라인채용박람회 시작 */
    /* 온라인 잡페어 참가방법*/
    .online_main .main_section02 .consult_step > div{width: 100%;margin-top: 0}
    .online_main .main_section02 .consult_step > div:after{position: static;transform: rotate(90deg);margin: 20px auto;width: 12px;height: 24px;background-size: 12px}
    .online_main .main_section02 .consult_step > div:nth-child(5){margin-top: 0}
    
    /* 참여 기업*/
    .online_main .main_section03 .logo{height: 100px}
    .online_main .main_section03 .logo img{max-width: calc(100% - 20px)}
    
    
    .online_main .ico_area p {display: none}
    .interview_type > .ico_area{justify-content:flex-end}
    
}
    
    
    @media all and (max-width:380px){
         /* 온라인채용박람회 시작 *
          /* 나의 지원현황 */
    .online_main .tit_bt .fl{float: none;margin-bottom: 10px;}
    .online_main .tit_bt .fr{margin: 5px 0}
        
    }
    
    
