@charset "utf-8";

/* 전체 메인 공통*/
.main_wrap .main_tit{font-size: 2.4rem;font-family: 's-core_dream5_medium';}

/*자소서 메인 공통*/

/*자소서 메인 section01 */
.self_intro_main .main_section01 .main_banner{background: url(../images/main/consult_main_banner_img.png) #ffea00 no-repeat right bottom;position: relative;border-radius: 20px;padding: 60px  70px;max-width: 1400px;height: 400px;position: relative;}
.self_intro_main .main_section01 .under_line{background: url(../images/main/under_line.png) no-repeat bottom left;padding-bottom: 10px;}
.self_intro_main .main_section01 .main_banner:after{content: '';display: block;background: url(../images/main/consult_main_banner_img02.png) no-repeat;width: 253px;height: 273px;position: absolute;left: -117px;top: 20px}


/*자소서 메인 서비스 한줄평 */
.self_intro_main .main_section01 .review {display: flex;}
.self_intro_main .main_section01 .review .main_tit{width: 150px;margin-right: 50px;margin-top: -4px}
.self_intro_main .main_section01 .review .list_wrap{width: calc(100% - 200px);}
.self_intro_main .main_section01 .review .list_area .list_txt {float: left;width:calc(100% - 400px)}
.self_intro_main .main_section01 .list_area .reviewer_area{float: right;}
.self_intro_main .main_section01 .list_area .reviewer_area > *{float: left;margin-left: 20px}

/* 리뷰 별점 영역*/
.reviewer_area > .item{color: #666;}
.reviewer_area > .star_area{background: url(../images/main/star_bg.png) no-repeat;width: 115px;height: 20px;position: relative;}
.reviewer_area > .star_area .value{background: url(../images/main/star_area.png) no-repeat;height: 100%;position: absolute;left: 0;top: 0;}
.reviewer_area > .star_area em {text-indent: -99999px;display: inline-block;}

/* 자소서 메인 .main_section02 */
.self_intro_main .main_section02{background: #ebf8ff;}
.self_intro_main .main_section02 .consult_result{padding: 80px 0;display: flex;flex: 1;width: calc(100% - 300px);float: right}
.self_intro_main .main_section02 .consult_result > div {position: relative;padding: 0 30px;text-align: center;flex: 1}
.self_intro_main .main_section02 .consult_result > div:after{content: '';display: block;width: 1px;height: 80%;background: #c7cee1;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.self_intro_main .main_section02 .consult_result > div:last-child:after{display: none}
.self_intro_main .main_section02 .consult_result strong {font-size: 8.0rem;color: #004897;display: block;margin-bottom: 10px}

.self_intro_main .main_section02 .star_bg {background: url(../images/main/star.png) no-repeat center;display: block;}
.self_intro_main .main_section02 .consult_pass{background: #004897;;position: relative}
.self_intro_main .main_section02 .consult_pass .inner{position: relative;padding: 30px }
.self_intro_main .main_section02 .consult_pass .inner:before{content: '';display: block;background: url(../images/main/consult_main_section02.png) no-repeat;width: 308px;height: 410px;position: absolute;bottom: 0;left: 0;}
.self_intro_main .main_section02 .consult_pass_txt{text-align: center}
.self_intro_main .main_section02 .consult_pass_txt p{color: #fff;font-size: 2.4rem;display: inline-block;}
.self_intro_main .main_section02 .consult_pass_txt i{background: url(../images/main/consult_pass.png) no-repeat;width: 66px;height: 77px;display: inline-block;vertical-align: middle;margin-right: 20px}
.self_intro_main .main_section02 .link{background: #ffea00;display: block;width: 30%;max-width: 500px;padding: 30px 15px 30px 45px; position: absolute;right: 0;bottom: 0;border-radius: 20px 0 0;color: #07366a;font-size: 1.8rem;}
.self_intro_main .main_section02 .link:hover .arrow,
.self_intro_main .main_section02 .link:active .arrow,
.self_intro_main .main_section02 .link:focus .arrow {margin-left: 20px;transition: all 0.5s}

/* 컨설팅 진행방법 */
.self_intro_main .main_section03{}
.self_intro_main .main_section03 .consult_step{display: flex;flex-wrap: wrap}
.self_intro_main .main_section03 .consult_step  > div {position: relative;width: calc(25% - 60px);margin-right: 80px;}
.self_intro_main .main_section03 .consult_step  > div:last-child{margin-right: 0}
.self_intro_main .main_section03 .consult_step .arrow{background: url(../images/common/step_arrow.png) no-repeat center ;width: 24px;height: 212px;text-indent: -9999px;position: absolute;right:calc(-35px - 24px);bottom: 0;}

.self_intro_main .main_section03 .consult_step .num{font-size: 4.0rem;position: relative;font-weight: bold;display: inline-block;}
.self_intro_main .main_section03 .consult_step .num:before{content: '';display: block;width:20px;height: 20px;background: #ffea00;border-radius: 50%;position: absolute;right: 0;top: 0; z-index: -1}
.self_intro_main .main_section03 .consult_step .step_tit{font-size: 2.0rem;}
.self_intro_main .main_section03 .consult_step .round_img{margin-top: 30px;height: 207px}
.consult_history{position: relative;overflow: hidden;}
.consult_history_disabled{background: rgba(241, 243, 253, 0.87);position: absolute;width: 100%;height: 100%;top: 0;left: 0;;z-index: 555;padding: 30px;}
.consult_history_disabled > div {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.self_intro_main .main_section03  .popup{position: absolute;z-index: 999;left: 50%;top: 50%;transform: translate(-50%,-50%);width:420px;}

/*자소서 컨설팅 내역*/
.self_intro_main .main_section03 .consult_history {padding:40px 0;border-radius: 20px;overflow: hidden}
.self_intro_main .main_section03 .consult_history_area{float: right;width:1000px;position: relative;padding: 50px 0}
.self_intro_main .main_section03 .consult_history .main_tit{width: 250px;float: left}
.self_intro_main .main_section03 .consult_history_area > div{position: absolute;text-align: center}
.self_intro_main .main_section03 .consult_history_area:before{content: '';display: block; background: url(../images/main/ing_bg.png) ;width: 806px;height: 5px;position: absolute;left: 50%;top: 0; transform: translate(-50%,0)}
.self_intro_main .main_section03 .consult_history_area p {font-size: 1.8rem;text-align: center;}
.self_intro_main .main_section03  em{display: inline-block;}
.self_intro_main .main_section03 .ico{width:30px;height: 30px;border-radius: 50%;border: 5px solid #adb1c9;top: -50px;margin-bottom: 50px;background: #fff}
.self_intro_main .main_section03 .ico_ing{background: url(../images/main/complete_ico.png) no-repeat #fff center;;width: 107px;height: 66px;margin-bottom: 30px}
.self_intro_main .main_section03 .consult_history_area > div:nth-child(1) {left: 0px;top: -10px;}
.self_intro_main .main_section03 .consult_history_area > div:nth-child(2) {left: 50%;transform: translateX(-50%); top: -30px}
.self_intro_main .main_section03 .consult_history_area > div:nth-child(3) {right: 0px;top:-10px}

/*자소서 컨설팅 현황*/
.self_intro_main .main_section04 .filter_wrap {display: flex;align-items: center;}
.self_intro_main .main_section04 .ft_tit{display: flex;align-items: center;margin-right: 30px;}
.self_intro_main .main_section04 .ft_tit span{background:#ff1b66;color: #fff;display: block;width: 32px;height: 32px;text-align: center;line-height: 32px;border-radius: 50%;font-size: 1.8rem;margin-right: 10px;}
.self_intro_main .main_section04 .ft_tit p{color: #ff1b66;font-weight: bold;font-size: 1.8rem;}
.self_intro_main .main_section04 .filter_wrap ul{display: flex;}
.self_intro_main .main_section04 .filter_wrap ul li{margin-right: 15px}
.self_intro_main .main_section04 .filter_wrap ul li a{display: block;color: #666;font-size: 1.6rem;padding: 5px 25px;width: 100%;height: 100%;background: #f6f7fc;border: 1px solid #f6f7fc;border-radius: 20px;}
.self_intro_main .main_section04 .filter_wrap ul li a:hover{background: #fff;color: #ff1b66;border: 1px solid #ff1b66;box-sizing: border-box;font-weight: bold}
.self_intro_main .main_section04 .filter_wrap ul li a.on{background: #fff;color: #ff1b66;border: 1px solid #ff1b66;box-sizing: border-box;font-weight: bold}


/* 자소서 자기소개서 별책부록*/
.self_intro_main .main_section05{background: #ebeeff;}
.self_intro_main .main_section05 .ico_tab{}
.self_intro_main .main_section05 .ico_tab li{float: left;margin-right: 30px;color: #adb1c9}
.self_intro_main .main_section05 .ico_tab li a{font-size: 1.8rem;;font-weight: bold;}
.self_intro_main .main_section05 .ico_tab li span{display: block;width: 32px;height: 32px;;border-radius: 50%;margin-right: 5px;display: inline-block;vertical-align: middle}
.self_intro_main .main_section05 .ico_tab li .ico01{background: url(../images/main/consult_ico01.png) no-repeat center #adb1c9;}
.self_intro_main .main_section05 .ico_tab li.active .ico01{background: url(../images/main/consult_ico01.png) no-repeat center #ff1b66;}
.self_intro_main .main_section05 .ico_tab li.active {color: #ff1b66}
.self_intro_main .main_section05 .ico_tab li .ico02{background: url(../images/main/consult_ico02.png) no-repeat center #adb1c9;}
.self_intro_main .main_section05 .ico_tab li.active .ico02{background: url(../images/main/consult_ico02.png) no-repeat center #ff1b66;}

.self_intro_main .main_section05 .tab_content{margin-top: 30px;}
.self_intro_main .main_section05 #tab2.tab_content .gray_border{padding: 29px 30px}
.self_intro_main .main_section05 .js_wrap{display: flex;}
.self_intro_main .main_section05 .job_select{width: 300px}
.self_intro_main .main_section05  .job_select .bar_list li.active{font-size: 1.8rem;font-weight: bold !important;padding-left: 0;}
.self_intro_main .main_section05  .job_select .bar_list li a:hover{font-weight: bold}
.self_intro_main .main_section05  .job_select .bar_list li.active a {color: #333}
.self_intro_main .main_section05  .job_select li.active:before{display: none;}
.self_intro_main .main_section05 .js_wrap .scrollbar{height: 200px;}
.job_aricle .blue_bg_text{margin-right: 10px}

/* 메인 공통 하단*/
.self_intro_main .main_section05 .job_aricle {width:calc(100% - 350px );margin-left: 50px;display: flex;}
.self_intro_main .main_section05  .job_aricle > div {flex: 1;margin-right: 40px;position: relative;overflow: hidden}
.job_aricle > div > a{display: block;width: 100%;height: 100%;}
.job_aricle > div:last-child{margin-right: 0}
.job_aricle .tit{font-size: 1.8rem;font-weight: bold;}
.job_aricle .middle{border-bottom: 1px dashed #c7cee1;margin:16px 0;padding-bottom: 20px}
.job_aricle .tag{color: #666;}
.job_aricle li{margin-bottom: 5px}
.job_aricle li:last-child{margin-bottom: 0}
.job_aricle > div .hover{display: none;opacity: 0;width: 100%;height: 100%;background: rgba(0, 72, 151, 0.9);position: absolute;left: 0;top: 0;color: #fff;text-align: center;position: absolute;}
.job_aricle > div .hover p {position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);}
.job_aricle .hover span{font-size: 5.0rem;display: block;}
.job_aricle > div a:hover .hover {display: block;opacity: 1}
.job_aricle .guide_list li{margin-bottom: 5px;color: #666;font-size: 1.4rem}
.job_aricle.job_aricle-two .middle {margin-top: 0}


/* -------------------------- 반응형 start ------------------------*/
@media all and (max-width:1400px){

/*  자소서 start  */
    .self_intro_main .main_section01 .main_banner:after{display: none;}    
    .self_intro_main .main_section01 .main_banner{background-size: 650px}
    .self_intro_main .main_section02 .consult_result strong{font-size: 5.5rem}
    .self_intro_main .main_section02 .consult_pass .container:before{background-size: 250px;width: 250px;height: 330px}
    .self_intro_main .main_section02 .consult_result{width: calc(100% - 250px)}
    .self_intro_main .main_section02 .consult_pass_txt i{width: 45px;background-size: 45px;height: 53px}
    .self_intro_main .main_section02 .star_bg {background-size: 80px}
    .self_intro_main .main_section02 .consult_pass_txt p{font-size: 2.2rem;padding-bottom: 80px}
    .self_intro_main .main_section02 .link{padding: 20px 35px}
    
    .self_intro_main .main_section03 .consult_history .main_tit{float: none;width: 100%;}
    .self_intro_main .main_section03 .consult_history_area{width:100%;float: none;margin-top: 5.0rem;padding-bottom: 5.0rem}
    .self_intro_main .main_section03 .consult_history_area:before{width: 85%;left: 50%;transform: translateX(-50%)}
    
    .self_intro_main  .main_section04 .table_style{table-layout:fixed;}
    .self_intro_main  .main_section04 .table_style td {padding: 15px 5px}
    .self_intro_main  .reviewer_area > .star_area{width: 80px;background-size: 80px;}
    .self_intro_main  .reviewer_area > .star_area .value{width: 80px;background-size: 80px}
    
    
    .self_intro_main .main_section03 .consult_step .gray02 {font-size: 1.5rem}
    
    /*  자소서 start  */
    .self_intro_main .main_section05 .job_select {width: 220px}
    .self_intro_main .main_section05 .job_aricle{margin-left: 30px;width: calc(100% - 250px)}
    .self_intro_main .main_section05 .job_aricle > div{margin-right: 20px;}
    
    .self_intro_main .main_section03 .consult_step .gray02{height: 2.4rem;}
    
    .self_intro_main .main_section03 .consult_step > div{margin-right: 50px;width:calc(25% - 38.999px)}
    .self_intro_main .main_section03 .consult_step .arrow{background-size: 12px;width: 12px;right: calc(-20px - 12px);}

}

@media all and (max-width:1024px){
    
    /*  자소서 start  */
    .self_intro_main .main_section01 .review{display: block;}
    .self_intro_main .main_section01 .review .list_wrap{width: 100%;margin-top: 2.0rem}
    .self_intro_main .main_section01 .review .list_area .list_txt{width: calc(100% - 250px)}
    
    .self_intro_main .main_section03  .popup{max-width: 420px;width: 90%;}
    
    /*  자기소개서 컨설팅 현황  */
    
    .self_intro_main .main_section03 .consult_step > div{margin-right: 50px;width:calc(50% - 38.999px);margin-bottom: 4.0rem}
    .self_intro_main .main_section03 .consult_step > div:nth-child(2n){margin-right: 0;}
    .self_intro_main .main_section03 .consult_step .arrow{background-size: 12px;width: 12px;right: calc(-20px - 12px);}
    .self_intro_main .main_section03 .consult_step > div:nth-child(3),
    .self_intro_main .main_section03 .consult_step > div:nth-child(4){margin-bottom: 0}
    
    .self_intro_main .main_section05 .js_wrap{display: block;}
    .self_intro_main .main_section05 .js_wrap .scrollbar{height: 140px;width: 100%;}
    .self_intro_main .main_section05 .job_select{width: 100%;margin-bottom: 20px;}
    .self_intro_main .main_section05 .job_aricle{width: 100%;margin-left: 0;padding-top: 20px;border-top: 1px dotted #ccc;}
    .self_intro_main .main_section05 .job_aricle > div{margin-bottom: 20px}
    
    .self_intro_main .main_section02 .consult_pass_txt{text-align: right;}
    .self_intro_main .main_section02 .link{right: 0px;transform: none;}
    .self_intro_main .main_section02 .star_bg {background-size: 65px}

}

@media all and (max-width:768px){
    /*  자소서 start  */
    .self_intro_main .main_section02 .consult_pass .container:before {width:130px;height: 170px;background-size: 130px;bottom:0}
    .self_intro_main .main_section02 .consult_result{width: 100%}
    .self_intro_main .main_section02 .consult_pass_txt p{padding-bottom: 60px}
    .self_intro_main .main_section02 .link{padding: 15px 25px;}
    
    .self_intro_main .main_section03 .consult_step .num{font-size: 3.0rem}
    
    .self_intro_main .main_section04 .filter_wrap{display: block;}
    .self_intro_main .main_section04 .ft_tit{margin-bottom: 20px}
    
    .self_intro_main .main_section05 .job_aricle{display: block;}
    .self_intro_main .main_section05 .job_aricle > div{width: 100%;flex:none}
    
}

@media all and (max-width:640px){
    .self_intro_main .main_section01{word-break: keep-all}
    .self_intro_main .main_section01 .main_banner{padding: 50px 30px;background-size:contain;background-position: right bottom 0}
    .self_intro_main .main_section01 .main_banner .f30{margin-bottom: 20px}
    .self_intro_main .main_section01 .under_line{background: 0;border-bottom: 3px solid #ff1b66;display: inline;padding-bottom: 0;line-height: 2}
    
    .self_intro_main .main_section01 .list_area .reviewer_area > .date{display: none}
    .self_intro_main .main_section01 .review .list_area .list_txt{width: calc(100% - 150px)}
    
    .self_intro_main .main_section02 .consult_result{flex-wrap: wrap;}
    .self_intro_main .main_section02 .consult_result > div{flex: none;width: 50%;margin-bottom: 30px}
    .self_intro_main .main_section02 .consult_result > div:nth-child(2):after{display: none}
    .self_intro_main .main_section02 .consult_result > div:nth-child(3),
    .self_intro_main .main_section02 .consult_result > div:nth-child(4){margin-bottom: 0}
    
    .self_intro_main .main_section02 .consult_pass .container:before{display: none;}
    .self_intro_main .main_section02 .consult_pass_txt i{background-size: 30px;width: 30px;height: 35px;display: block;margin: auto;}
    .self_intro_main .main_section02 .consult_pass_txt{text-align: center;}
    .self_intro_main .main_section02 .consult_pass_txt p{margin-top: 2.0rem;font-size: 1.8rem;padding-bottom: 20px}
    .self_intro_main .main_section02 .link{right:0;position: relative;margin: auto;;transform: none;max-width: 200px;width:calc(100% - 40px);font-size: 1.6rem;padding: 10px  20px;border-radius: 8px;bottom: 30px}
    .self_intro_main .main_section02 .link .f24{font-size: 2.0rem}
    .self_intro_main .main_section03 .consult_step{display: block;}
    .self_intro_main .main_section03 .consult_step > div{margin-right: 0;width: 100%;}
    .self_intro_main .main_section03 .consult_step > div:nth-child(3){margin-bottom: 4.0rem}
    .self_intro_main .main_section03 .consult_step .arrow{display: none;}
    
    .self_intro_main .main_section03 .consult_history_area {zoom:0.65}
    .self_intro_main .main_section03 .consult_history_area p{zoom:1.2}
    .self_intro_main .main_section03 .consult_history_area p span {}
    .self_intro_main .main_section03 .consult_history_area p span:before{content: '';display: block;}
    .self_intro_main .main_section04 .ft_list{overflow-x: auto;width: 100%; -ms-overflow-style: none;}
    .self_intro_main .main_section04 .ft_list::-webkit-scrollbar{ display:none; }
    .self_intro_main .main_section04 .filter_wrap ul{display: table;table-layout: fixed;white-space: nowrap;}
    .self_intro_main .main_section04 .filter_wrap ul li{display: table-cell;padding-right: 5px}
    .self_intro_main .main_section04 .filter_wrap ul li:last-child{margin-right: 0;}
    .self_intro_main .main_section04 .filter_wrap ul li a{padding: 5px 10px;}
    
    
    .self_intro_main .main_section05 .ico_tab li{float: none;margin-bottom: 10px}
    .self_intro_main .main_section05 .ico_tab li:last-child{margin-bottom: 0}
    .self_intro_main .main_section05 .ico_tab li a{font-size: 1.6rem}
    .self_intro_main .main_section05 .ico_tab li span{width: 26px;height: 26px;}
    .self_intro_main .main_section05 .ico_tab li .ico01{background-size: 12px !important}
    .self_intro_main .main_section05 .ico_tab li .ico02{background-size: 12px !important}
    .self_intro_main .main_section05 .tab_content{margin-top: 2.0rem}
    
    
}